body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    overflow: hidden;
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/background-image.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .container {
    position: absolute;
    top: 50px;
    left: 1350px;
    width: 400px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: auto;
  }

  .typewriter {
    position: absolute;
    top: 40px;
    left: 400px;
    width: 20px;
    height: 100%;
  }
  
  .text {
    font-size: 20px;
    font-family: monospace;
    white-space: pre-wrap;
    margin: 0;
    padding-right: 10px;
    animation: typing 2s steps(30, end), blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #000;
    }
  }
  
  .cursor {
    display: inline-block;
    vertical-align: middle;
    width: 1.5px;
    height: 20px;
    background-color: #000;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .account-creation {
    text-align: center;
    margin-top: 20px;
  }

/*---------------------------DEBUG-----------------------*/
#map {
  height: 100%;
  width: 100%;
  position: relative;
}
#info-box, #input-box {
  position: absolute;
  width: 23%;
  background: rgba(255, 255, 255, 0.4); /* Semi-transparent white */
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}
#info-box {
  bottom: 250px; /* Distance from the bottom */
  left: 100px; /* Distance from the left */
  height: 24%;
}
#input-box {
  top: 100px; /* Distance from the top */
  left: 100px; /* Distance from the left */
  height: auto; /* Adjust height automatically based on content */
}
.add-location {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
button {
  margin-top: 10px;
}

.input-container {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.dropdown-container:last-child {
    margin-right: 0;
}

.locations-container {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.location-dropdown {
  flex-basis: 50%;
}

.map-container {
  height: 10vh; /* Assign a height that is half the viewport height */
}

