body {
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  background-color: #f2f2f2;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/background-image.jpeg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.container {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: center; /* Centers the content inside the container */
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}
  
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
  
button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.account-creation {
  text-align: center;
  margin-top: 20px;
}

/*---------------------------DEBUG-----------------------*/
#map {
  height: 100%;
  width: 100%;
  position: relative;
}

#info-box {
  bottom: 250px; /* Distance from the bottom */
  left: 100px; /* Distance from the left */
  height: 24%;
}

#input-box {
  position: absolute;
  top: 100px; /* Distance from the top */
  left: 150px; /* Distance from the left */
  width: 300px; /* Fixed width for the smaller container */
  max-width: 300px; /* Ensuring that it doesn't get wider than 300px */
  padding: 10px; /* Padding inside the box */
  background-color: rgba(242, 242, 242, 0.6); /* Slightly transparent background */
  border-radius: 5px;
  z-index: 2; /* High enough z-index to be on top */
  box-sizing: border-box; /* Include padding and border in the width and height */
}

.overlay {
  position: fixed; /* Use fixed to cover the entire viewport */
  top: 5%; /* To cover 90%, we center with 5% from the top and bottom */
  left: 5%; /* To cover 90%, we center with 5% from the left and right */
  right: 5%;
  bottom: 5%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  z-index: 10; /* Ensure it's above other content */
}

.vessel-container {
  display: inline-flex; 
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  margin: 0 20px; /* Add some horizontal margin between containers */
  width: 400px; /* Fixed width for each container */
}

.vessel {
  text-align: center;
  margin-bottom: 10px;
}

.vessel img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.vessel-container img {
  position: relative;
  width: 100%; /* Use 100% width of the parent container */
  height: auto; /* Maintain aspect ratio */
}

.vessel-label {
  color: white;
  margin-bottom: 10px; /* Space between label and image */
}

.typewriter-text {
  display: block;
  visibility: hidden;
  width: 100%;
  color: white;
  text-align: center; /* Center the text below the vessel */
  font-family: 'Courier New', Courier, monospace; /* Typewriter-style font */
  overflow: hidden; /* Hide overflow text */
  padding-top: 10px; /* Add some space between the vessel image and the text */
  border-right: .15em solid orange; /* The cursor */
  animation: blink-caret .75s step-end infinite; /* Cursor blinking effect */
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.add-location {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

button {
  margin-top: 10px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.dropdown-container:last-child {
  margin-right: 0;
}

.locations-container {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.location-dropdown {
  flex-basis: 50%;
}
