<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map with Information and Input Boxes</title>
</head>
<body>
    <div id="map" class="map-container">
        {{ map_html|safe }}
        {% if not simulation_run %}
        <form method="post" action="{% url 'simulate' %}" id="vesselForm">
          {% csrf_token %}
          <div class="overlay">
              <div class="vessel-container">
                  <input type="radio" name="shipType" id="shipType1" value="container" class="hidden-radio">
                  <label for="shipType1" class="vessel">
                      <p class="vessel-label">Container Cargo Vessel</p>
                      <img src="{% static 'container.jpg' %}" alt="Container Cargo Vessel">
                  </label>
                  <span class="typewriter-text" data-text="Information about Container Cargo Vessel."></span>
              </div>
              <div class="vessel-container">
                  <input type="radio" name="shipType" id="shipType2" value="roro" class="hidden-radio">
                  <label for="shipType2" class="vessel">
                      <p class="vessel-label">Ro Ro Container Vessel</p>
                      <img src="{% static 'ro ro.jpg' %}" alt="Ro Ro Container Vessel">
                  </label>
                  <span class="typewriter-text" data-text="Information about Ro Ro Vessel."></span>
              </div>
              <div class="vessel-container">
                  <input type="radio" name="shipType" id="shipType3" value="tanker" class="hidden-radio">
                  <label for="shipType3" class="vessel">
                      <p class="vessel-label">Crude Oil Tanker Vessel</p>
                      <img src="{% static 'tanker.jpg' %}" alt="Crude Oil Tanker Vessel">
                  </label>
                  <span class="typewriter-text" data-text="Information about Crude Oil Tanker Vessel."></span>
              </div>
          </div>
        <div id="input-box">
            <form method="post" action="{% url 'simulate' %}">
                {% csrf_token %}
                <div class="dropdown-container">
                    <label for="locationA">Location A:</label>
                    <select name="locationA" id="locationA">
                        <option value="">Select Location A</option>
                        {% for port in ports %}
                            <option value="{{ port.name }}">{{ port.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="dropdown-container">
                    <label for="locationB">Location B:</label>
                    <select name="locationB" id="locationB">
                        <option value="">Select Location B</option>
                        {% for port in ports %}
                            <option value="{{ port.name }}">{{ port.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="number" name="weight" placeholder="Weight">
                <select name="propellerCondition" id="propellerCondition">
                    <option value="">Propeller Condition</option>
                </select>
                <input type="number" name="currentGasPrice" placeholder="Current Gas Price">
                <button type="submit" name="action" value="simulate">Simulate</button>
            </form>
        </div>
        {% endif %}
        {% if simulation_run %}
        <div id="info-box">
          Information
          <p>From {{ locationA }} to {{ locationB }}, the distance is {{ distance_km }} km.</p>
          <p>Selected Ship: {{ selected_ship }}</p>
          <p>Average Speed: {{ average_speed_knots }} knots</p>
          <p>Fuel Consumption Rate: {{ fuel_consumption_rate }} liters per hour</p>
          <p>Travel Time: {{ travel_time_hours }} hours</p>
          <p>Total Fuel Consumption: {{ fuel_consumption }} liters</p>
            <form action="{% url 'debug' %}" method="get">
                <button type="submit">Change/Modify Route</button>
            </form>
        </div>
        {% endif %}
    </div>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
