<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Intelligent Shipping - Login</title>
</head>

<body>
  <div class="typewriter">
    <p class="text">This will be where my text gets fancy!</p>
  </div>
  <div class="container">
    <h1>Welcome to Intelligent Shipping</h1>
    <form id="loginForm" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
      </form>
      
      {% if error_message %}
        <p class="error">{{ error_message }}</p>
      {% endif %}
    <div class="account-creation">
      Don't have an account? <a href="#">Create one!</a>
    </div>
  </div>
</body>

</html>