<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Intelligent Shipping - Login</title>
</head>
<body>
  <div class="typewriter">
    <p class="text">The shipping industry is the backbone of global trade,<br> however, inefficient routing can lead to increased costs,<br> environmental impact, and delays in delivery. <br> This thesis project aims to develop an Intelligent Shipping Routing Optimization System. <br>  By leveraging Python, Django for web deployment, integrating QGIS for spatial analysis, <br> and utilizing historical databases, the system will optimize shipping routes for enhanced efficiency, <br>  cost-effectiveness, and environmental sustainability.</p>
    <span class="cursor"></span>
  </div>
  <div class="container">
    <form id="loginForm" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <h1>Welcome to my pain.</h1>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    {% if error_message %}
      <p class="error">{{ error_message }}</p>
    {% endif %}
    <div class="account-creation">
      Don't have an account? <a href="#">Create one!</a>
    </div>
  </div>
</body>

</html>
