<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Intelligent Shipping - Login</title>
</head>
<div class="typewriter">
  <p class="text">This will be where my text gets fancy!</p>
  <span class="cursor"></span>
</div>
<body>
  <div class="background-image"></div>
  <div class="container">
    <form id="loginForm" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <h1>Welcome to my pain.</h1>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    {% if error_message %}
      <p class="error">{{ error_message }}</p>
    {% endif %}
    <div class="account-creation">
      Don't have an account? <a href="#">Create one!</a>
    </div>
  </div>
</body>

</html>